/* * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
} */
.f1 {
  text-align: center;
  margin-top: 50px;
}
.f1 h1 {
  font-size: 50px;
  color: hsl(195, 62%, 53%);
}
.sec p {
  font-size: 25px;
  font-family: sans-serif;
}
.sec .ans {
  font-size: 21px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.int {
  font-size: 23px;
}
.section2 {
  margin-left: 200px;
  margin-top: 50px;
  color: white;
}
.section1 {
  background-color: hsl(195, 62%, 53%);
  padding: 70px 0px;
  width: 100%;
}
.btn {
  margin-top: 30px;
}
.btnn {
  padding: 10px 20px;
}
/* .ans {
  margin-bottom: 10px;
  margin-left: 20px;
} */

.scorecenter {
  display: none;
}
.scoreshow p {
  font-size: 30px;
  text-align: center;
}
.scoreshow p .percentage {
  font-size: 50px;
  color: hsl(195, 62%, 53%);
}
@media screen and (max-width: 799px) {
  .section1 {
    width: 100%;
  }
  .section2 {
    margin-left: 50px;
    margin-top: 20px;
  }
  .sec p {
    font-size: 22px;
  }
  .sec .ans {
    font-size: 18px;
  }
  .f1 {
    margin-top: 30px;
  }
}
@media screen and (max-width: 477px) {
  .section1 {
    width: 100%;
  }
  .section2 {
    margin-left: 10px;
    margin-top: 0px;
  }
  .f1 {
    padding: 5px;
  }
  .scoreshow {
    padding: 3px;
  }
  .sec p {
    font-size: 16px;
  }
  .sec .ans {
    font-size: 15px;
    margin-left: 10px;
  }
  .btn {
    margin-left: 15px;
  }
  .f1 {
    margin-top: 20px;
    margin-bottom: 0px;
  }
}
